
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hackathon</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<script src="~/Content/components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="~/Content/elements/livehack-datasource/livehack-datasource.html" />
	<link rel="import" href="~/Content/elements/livehack-navbar/livehack-navbar.html" />
	<link rel="import" href="~/Content/components/core-animated-pages/core-animated-pages.html" />
	<link rel="import" href="~/Content/components/core-selector/core-selector.html" />
</head>
<body fullbleed horizontal layout unresolved>
	<template is="auto-binding">
		<livehack-datasource mygroups="{{ mygroups }}"></livehack-datasource>

		<livehack-navbar width="320">
			<h2 style="text-align:center;">LIVEHACK</h2>
			<core-selector class="list" selected="0" vertical layout>
				<template repeat="{{ mygroups }}">
					<div>{{ name }}</div>
				</template>
			</core-selector>
		</livehack-navbar>
		<core-animated-pages transitions="cross-fade-all" flex>
			<section>
				<div layout fit style="background:red;">
					<div>1</div>
				</div>
			</section>
			<section>
				<div layout vertical center center-justified style="background:blue;">
					<div>2</div>
				</div>
			</section>
			<section>
				<div layout vertical center center-justified style="background:purple;">
					<div>3</div>
				</div>
			</section>
			<section>
				<div layout vertical center center-justified style="background:orange;">
					<div>4</div>
				</div>
			</section>
			<section>
				<div layout vertical center center-justified style="background:green;">
					<div>5</div>
				</div>
			</section>
		</core-animated-pages>
	</template>
</body>
</html>
